
body {
    font-family: sans-serif;
    margin-top: 60px;
     background-image: url("http://fungyung.com/data/out/123/63857925-web-wallpapers.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.mainstyle{
                    max-width: 800px;
                    margin: 0 auto;
                    color: rgb(206, 25, 158);
                    font-family: sans-serif;
                    padding-left: 20px;
                    padding-right: 20px;
}

h3{
    text-align:center;
}

h4{
        text-align:center;
}

p{
        text-align:center;
}

