.container{
                    max-width: 800px;
                    margin: 0 auto;
                    color: #5a5656;
                    font-family: sans-serif;
                    padding-left: 20px;
                    padding-right: 20px;
}

